#anime{
	width: 6.250em;
    height: 6.250em;
    background-color: #CF4858;
    position: relative;
    -webkit-animation-name: example; 
    -webkit-animation-duration: 4s; 
    -webkit-animation-iteration-count: infinite; 
    -webkit-animation-direction: alternate; 
    animation-name: box;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate; 
}
@-webkit-keyframes  box {
    0%   {background-color:#CF4858; left:0em; top:0em;}
    25%  {background-color:F4AC42; left:28.125em; top:0em;}
    50%  {background-color:#16A79D; left:28.125em; top:18.750em;}
    75%  {background-color:80628B; left:0em; top:18.750em;}
    100% {background-color:#CF4858; left:0em; top:0em;}
}
@keyframes box {
    0%   {background-color:#CF4858; left:0em; top:0em;}
    25%  {background-color:F4AC42; left:28.125em; top:0em;}
    50%  {background-color:#16A79D; left:28.125em; top:18.750em;}
    75%  {background-color:80628B; left:0em; top:18.750em;}
    100% {background-color:#CF4858; left:0em; top:0em;}
}