/*This CSS page is for colors*/

body{
	 background: #4D505B;
}
h1{
	 color: #16A79D;
}
h2{
	 color: #80628B;
}
h3{
	 color: #CF4858;
}
dt{
	 color: #80628B;
}
input{
	color:#000000;
}
.panel-footer{
	 background-color: #000000;
     color: #ffffff;
}
footer{
	background-color: #000000;
}
.jumbotron{
	background-color: #CF4858;
	color: #ffffff;
}
#main{
	color: #ffffff
}
#aboutMe{
	background-color: #000000;
}