/*This CSS page is for colors*/

body{
	 background: #4D505B;
}
h1{
	 color: #16A79D;
}
h2{
	 color: #80628B;
}
.panel-footer{
	 background-color: #000000;
     color: #ffffff;
}
.jumbotron{
	background-color: #CF4858;
	color: #ffffff;
}
#main{
	color: #ffffff;
}