/*This CSS page is for image formating*/

#img1{
	 width: 25em; 
	 height: 15.625em; 
	 border: .313em solid #F4AC42;
}
#img2{
	 width: 18.750em; 
	 height: 12.500em;
}
#img3{
	 width: 12.500em; 
	 height: 7.813em;
}
#yogaSilo{
	width: 15.625em;
	height: 21.875em;
}
#dogMeme{
	height: 600px;
	border: 5px solid #F4AC42;
	float:left;
}
#dogMeme:hover{
	transition: 5s;
	-webkit-transition: 5s;
	-moz-transition:5s;
	transition-timing-function: ease-in-out;
	 -webkit-transition-timing-function: ease-in-out;
	 -moz-transition-timing-function: ease-in-out;
	 -webkit-transform: rotate(360deg); 
	 -moz-transform: rotate(360deg);
     transform: rotate(360deg);
	 opacity: 0.2;
	 border:50px solid #CF4858 ; 
}