/*This CSS page is for image formating*/

#img1{
	 width: 25em; 
	 height: 15.625em; 
	 border: .313em solid #F4AC42;
}
#img2{
	 width: 18.750em; 
	 height: 12.500em;
}
#img3{
	 width: 12.500em; 
	 height: 7.813em;
}
#yogaSilo{
	width: 15.625em;
	height: 21.875em;
}