body{
	background-color: #ABABAB;
}
footer{
	background-color: #000000;
    color: white;
}
#midSect{
	background-color: #2D2D2D;
}
h1{
	color: #6B5CA5;
}
h3{
	color: #ED7D3A;
}
p{
	color: #ffffff;
}
#side{
	background-color: #ED7D3A;
}
.navbar{
	background-color: #000000;
}