body{
	background-color: #ABABAB;
}
footer{
	background-color: #000000;
    color: white;
}
#midSect{
	background-color: #2D2D2D;
}
h1{
	color: #6B5CA5;
}
h2{
	color: #2D2D2D;
}
h3{
	color: #ED7D3A;
}
h4{
	color:#2D2D2D;
}
p{
	color: #ffffff;
}
dt{
	color: #2D2D2D;
}
dd{
	color: #ffffff;
}
#side{
	background-color: #ED7D3A;
}
.navbar{
	background-color: #000000;
}
#aboutmehead{
	background-color: #6B5CA5;
	color: #2D2D2D;
}
#aboutmetext{
	background-color: #ED7D3A;
}
#me{
	border-color: #2D2D2D;
}
button{
	background-color: #6B5CA5;
	color: #ffffff;
}