body{
	background-color: #ABABAB;
}
footer{
	background-color: #000000;
    color: white;
}
#midSect{
	background-color: #2D2D2D;
}
h1{
	color: #634271;
}
h3{
	color: #168A8F;
}
p{
	color: #ffffff;
}
#side{
	background-color: #168A8F;
}
.navbar{
	background-color: #000000;
}